<div class="small d-flex justify-content-start">
  <%= render "likes/comment_like_form", post: post, comment: comment, like: comment.likes.find_by(user_id: current_user.id) %>
  <a href="#!" class="d-flex align-items-center me-3">
    <i class="far fa-comment-dots me-2"></i>
    <%= %>
  </a>
</div>