<%= render "profile_header", user: @user %>

<% if current_user == @user %>
  <%= render "posts/status_update", post: @post %>
<% elsif @user.friends.include?(current_user) %>
  <%= render "profile_post", user: @user %>
<% end %>

<section>
  <div class="container my-2 py-5">
    <div class="row d-flex justify-content-center gap-5">
      <% @posts.each do |post| %>
        <div class="col-md-12 col-lg-10 col-xl-8" id="post-display">
          <%= render "posts/container", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</section>

