<%= form_with(model: friendship) do |form| %>
  <%= form.hidden_field :friend, :value => friend.id %>
  <%= form.hidden_field :user, :value => user.id %>

  <div>
    <%= form.submit 'Accept Friend Request' %>
  </div>
<% end %>
