<% if current_user.potential_friends.include?(user) %>
  <p>Friend Request Pending</p>
<% elsif current_user.incoming_friends.include?(user)%>
  <%= link_to "Accept Friend Request", new_friendship_path(:friend => current_user, :user => user) %>
<% elsif !current_user.friends.include?(user) %>
  <%= turbo_frame_tag "friend_request" do %>
    <%= link_to "Send Friend Request", new_friend_request_path(:sender => current_user, :recipient => user), data: {"turbo-frame": :"friend_request"} %>
  <% end %>
<% end %>
   