<h2>Friends:</h2>

<ol>
  <% current_user.friends.each do |f| %>
    <li><%= f.first_name %> <%= button_to "Unfriend", friendship_path(current_user.find_friendship(f)), method: :delete %></li>
  <% end %>
</ol>