<% if current_user.potential_friends.include?(user) %>
  <p>Friend Request Pending</p>
<% elsif current_user.incoming_friends.include?(user)%>
  <%= render "friendships/form", friendship: Friendship.new, friend_id: user.id %>
<% elsif !current_user.friends.include?(user) %>
  <%= render "friend_requests/form", friend_request: FriendRequest.new, recipient_id: user.id %>
<% end %>
   