<h1>Hi <%= current_user.first_name %>!</h1>

<% if params[:id] == "friends" %>
  <%= turbo_frame_tag "friends" do %>
    <%= render "friends" %>
  <% end %>
<% else %>
  <%= render "search_results" %>
<% end %>