<h2>Sent Requests</h2>

<ol>
  <% @sent_requests.each do |request| %>
    <li><%= request.recipient.full_name %>, <p>Request Pending...</p> <%= button_to "Remove Friend Request", friend_request_path(request), method: :delete %></li>
  <% end %>
</ol>

<h2>Received Requests</h2>

<ol>
  <% @received_requests.each do |request| %>
    <%= request.sender.full_name %> <%= link_to "Accept Friend Request", new_friendship_path(:friend => current_user, :user => request.sender), data: {"turbo-frame": :"accept_request"} %>
  <% end %>
</ol>
