<% if num_of_likes > 0 %>
  <a href="#!" class="d-flex align-items-start me-3">
    <i class="far fa-comment-dots me-2"></i>
    <p class="mb-0"><%= pluralize(num_of_likes, "like",) %></p>
  </a>
<% end %>