<h4 class="text-center mt-4 mb-2 pt-2 pb-2">Recent Activity</h4>

<%= render 'status_update', post: @post %>

<%# Displays recent posts from friends %>
<section>
  <div class="container my-2 py-5">
    <div class="row d-flex justify-content-center gap-5">
      <% @posts.each do |post| %>
        <div class="col-md-12 col-lg-10 col-xl-8" id="post-display">
          <%= render "container", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</section>

